.digits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  
  font-size: 150px;
  font-family: 'Major Mono Display', monospace;
  border: 1px solid black;
  background-color: linen;
}

.redDigit {
  color: red;
}

.normal {
  display:flex;
    justify-content: center;
  align-items: center;
}

button {
  font-size: 2.2rem;
  margin: 0.5rem;
  background-color: lightgrey;
}

#start {
  background-color: lightgreen;
}

#stop {
  background-color: lightpink;
}
